.App {
  max-width: 700px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.App-logo {
  margin: auto;
  padding: auto;
  width: 150px;
  margin-left: 30px;
}

.col-8 {
  text-align: left;
  font-size: 60px;
  margin-top: 28px;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: -40px;
  text-decoration: underline 3px;
}

footer {
  text-align: center;
  font-size: 25px;
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
  margin-left: 80px;
  max-height: 60px;
}

.quill {
  width: 40px;
  margin-right: 130px;
}