
body {
  padding: auto;
  margin: auto;
}

.App {
  max-width: 700px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: auto;
  margin: auto;
  border: double 2px rgb(125, 1, 33, 0.5);  
}

.App-logo {
  margin: auto;
  padding: auto;
  max-width: 130px;
  margin-left: 50px;
}

.App-Header{
  margin-top: 30px;
  margin-left: -120px;
  text-align: left;
  font-family: "Libre Caslon Text", serif;
  font-size: 55px;
  text-align: center;
  color: #36454F;
  text-decoration: underline 3px;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 4px 4px rgba(0,0,0,0.2),
                 0px -5px 10px rgba(255,255,255,0.15);
}

.App-H3 {
  padding: 10px;
  margin-left: 30px;
  margin-top: -20px;
  text-align: center;
  color: #B2BEB5;
  font-size: 15px;
}

footer {
  display: block;
  padding: 10px;
  margin: auto;
  text-align: center;
  color: #FFFFFF;
  font-size: 15px;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(125, 1, 33, 0.9);
  }

  a {
    color: #FFFFFF;
  }

  footer a:hover {
    color: rgb(229, 175, 42);
  }

  @media (max-width: 400px) {

    .App-Header {
      font-size: 25px;
      text-align: center;
      margin-bottom: 25px;
      padding-top: 20px;
      margin-top: 0;
    }
    
    .App-logo {
      display: block;
      width: 60px;
      margin-left: 30px;
      margin-top: 10px;
    }

    .App-H3 {
      font-size: 10px;
      margin-bottom: -15px;
      margin-left: 50px;
    }

    footer {
      display: none;
    }
  }