
body {
  padding: auto;
  margin: auto;
}

.App {
  max-width: 700px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: auto;
  margin: auto;
}

.App-logo {
  margin: auto;
  padding: auto;
  width: 130px;
  margin-left: 50px;
}

.App-Header{
  margin-top: 30px;
  margin-left: -120px;
  text-align: left;
  font-family: "Libre Caslon Text", serif;
  font-size: 55px;
  text-align: center;
  color: #36454F;
  text-decoration: underline 3px;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 4px 4px rgba(0,0,0,0.2),
                 0px -5px 10px rgba(255,255,255,0.15);
}

.App-H3 {
  padding: 10px;
  text-align: center;
  color: #B2BEB5;
  font-size: 15px;
}

footer {
  text-align: center;
  color: #36454F;
  font-size: 25px;
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
}