.App {
  max-width: 700px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

img {
  margin: auto;
  padding: auto;
  width: 150px;
  margin-left: 30px;
}

.col-8 {
  text-align: left;
  font-size: 60px;
  margin-top: 28px;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: -40px;
}