input {
    display: block;
    padding-left: 15px;
    margin: auto;
    border: solid 2px rgb(229, 175, 42, 0.4);
    border-radius: 10px;
    width: 80%;
    background-color: rgb(229, 175, 42, 0.2) ;
    color: #5C5C5C;
}

button {
    background-color: rgb(229, 175, 42, 0.4);
    border-radius: 30px;
    height: 50px;
    width: 50px;
    border: double 2px rgb(125, 1, 33, 0.5);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 150ms ease-in-out;
}

section {
    color: #5C5C5C;
    padding: 20px;
    text-align: left;
    margin: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    border-left: solid rgb(125, 1, 33, 0.9) 30px;
}

.Dictionary {
    text-align: center;
}

.text-capitalize {
    text-align: center;
}

.Phonetic {
    text-align: center;
    display: block;
    margin: auto;
    padding: auto;
    color: rgb(125, 1, 33);
}

button:hover {
    transform: scale(1.1) perspective(1px);
}

hr {
    background-color: rgb(229, 175, 42, 0.4);
    border: solid 2px rgb(229, 175, 42, 0.4);
    border-radius: 10px;
}