.synonym {
    margin: 0;
    padding: 10px;
}

.Synonyms li {
    margin-top: 10px;
    display: inline-block;
    background-color: rgb(125, 1, 33, 0.9);
    border-radius: 30px;
    color: #FFFFFF;
    padding: 10px;
    margin-right: 10px;
}
